{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2"
        href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/"
        role="button">Comienza</a>
      <p class="meta">Código Libre - Licencia MIT <a href="https://github.com/OpenFormulaApp">GitHub v{{ $data :=
          getJSON
          "/package.json" }}{{ $data.version }}</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Código libre</h2>
        <p>El código de OpenFormula está disponible para todo el público, lo que significa que puedes consultar el
          código o incluso modificarlo a tu gusto.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Gratuito</h2>
        <p>OpenFormula es y será siempre gratuito, debido a su naturaleza de código libre permite que puedas construir
          tus propias versiones.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Accesible</h2>
        <p>A pesar de usar tecnologías nuevas, OpenFormula tratará de mantenerse compatible con la mayor cantidad de
          dispositivos.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
